body
{
    background: url(Bg_90.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.buttons
{
    margin: 0.2vw;
    margin-right: 2vw;
    margin-left: 70vw;

}

.button 
{
    background-color: rgb(248, 140, 77); 
    border: none;
    color: black;
    padding: 1vw 3vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.4vw 0.2vw;
    cursor: pointer;
  }
.heading
{
    float: left;
    font-size: 5em;
    color: black;
    margin-left: 5vw;
}


* 
{
    box-sizing: border-box;
}

input[type=text], select, textarea 
{
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;

}

input[type=submit] 
{
    background-color: coral;
    color: black;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    align-items: center;
}
  
input[type=submit]:hover 
{
    background-color: pink;
}
  
.contact
{
    margin-top: 8vh;
    margin-left: 25vw;
    margin-right: 30vw;
    padding-left: 80px;
    padding-bottom: 10px;
    background-color: beige;
    color: #010131;
}

.c_1
{
    padding-left: 4vw;
    color: black;
}

.c
{
    font-size: 3.5em;
}

.sub_c
{
    font-size: 1.5em;
    color:#922b3e;
}
