body
{
    background: linear-gradient(to right, black,grey);
}

.buttons
{
    margin: 0.2vw;
    margin-right: 2vw;
    margin-left: 70vw;

}

.button 
{
    background-color: pink; 
    border: none;
    color: black;
    padding: 1vw 3vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.4vw 0.2vw;
    cursor: pointer;
}


.verticle
{
    border-left: 3px dotted beige;
    height: 545px;
    position: absolute;
    margin-left: -3px;
    top: 0;
    margin-top: 80px;
}

._1
{
    left: 20%;
}

._2
{
    left: 65%;
}

.container
{
    height: 100%;
    width: 100%;
}

.left
{
    float: left;
}

.middle
{
    margin-top: 40px; 
    margin-left: 150px;
    float: left;
    color: pink;
}

.right
{
    position: relative;
    float: right;
    margin-top: 70px;
    margin-right: 200px;
}

.sub_heading
{
    color: white;
    font-size: 50px;
    font: bold;
}


.heading
{
    float: left;
    font-size: 50px;
    color: rgb(13, 241, 13);
    margin-left: 50px;
}

.interest_1
{
    height: 100px;
    width: 100px;
    background: transparent;
    margin-top: 80px;
    margin-left: 40px;

}
.interest_2
{
    height: 100px;
    width: 100px;
    background: transparent;
    margin-left: 40px;

}
.interest_3
{
    height: 50px;
    width: 150px;
    background: transparent;
    margin-left: 30px;

}

h3
{
    margin-left: 50px;
    color: rgb(140, 226, 140);
    font-style: italic;
}

ul
{
    list-style: none;
}


.progress
{
    background-color: pink;
    display: block;
    height: 10px;
    border: 1px solid black;
    border-radius: 3px ;
    overflow:hidden ;
}

.progress span
{
    height: 10px;
    float: left;
    background: linear-gradient(to right, purple,yellow);
}

.c
{
    width: 80%;
}

.html
{
    width: 80%;
}

.css
{
    width: 50%;
}

.photoshop
{
    width: 90%;
}

.java
{
    width: 50%;
}

.year
{
    color: rgb(140, 226, 140);
    font-size: larger;
    font: italic;
}

.sub
{
    color: rgb(241, 241, 157);
    font-size: large;
}

.sub_2
{
    color: pink;
    font-size: larger;
}